body{
    background-color: rgba(0, 28, 105, 0.624);
    font: normal 15pt Arial   
}

header {
    color: white;
    text-align: center; 
    
}

section{     
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 25px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}

div{
    padding: 10px;
}

footer {
    color: white;
    text-align: center; 
    padding: 20px;
}

img{
    width: 500px;
    height: 300px;
    border-radius: 100%;
}



